<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${client.id == null} ? 'Новый клиент' : 'Клиент'"></title>
</head>
<body>
<div th:replace="/header :: header"></div>
<h1 th:text="${client.id == null} ? 'Новый клиент' : 'Клиент'"></h1>
<form th:action="@{/clients/save}" th:method="post" th:object="${client}">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="fullName">ФИО</label>
        <input type="text" id="fullName" th:field="*{fullName}" />
    </div>
    <div>
        <label for="birthDate">Дата рождения</label>
        <input type="date" id="birthDate" th:field="*{birthDate}" />
    </div>
    <button type="submit" th:text="${client.id == null} ? 'Добавить' : 'Сохранить'"></button>
</form>
</body>
</html>