<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
<div th:replace="/header :: header"></div>
<h1>Заказ</h1>
<div>
    Клиент: <a th:href="@{/clients/edit/{id}(id=${borrowing.client.id})}" th:text="${borrowing.client.fullName}"></a>
</div>
<div>
    Книга: <a th:href="@{/books/edit/{id}(id=${borrowing.book.id})}" th:text="${borrowing.book.title}"></a>
</div>
<div>
    Дата взятия книги: <span th:text="${borrowing.borrowDate}"></span>
</div>
</body>
</html>